.date_template {
    display: none;
}

a:hover {
	cursor: pointer;
}

.btn-group {
	padding: 0px 10px 0px 35px;
	width: 875px;
	margin:0;
}

.btn-group .btn {	
	font-size: 1.1em; 		
}

.accueil {
	text-align:center;	
}

.btn-large {
	border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
    margin-right: 10px;
    padding: 14px 24px;
}

.precedent {
	/*display:inline-block;*/
	float:left;
}

.continuer {	
	/*display:inline-block;
	margin-left:82%;
	vertical-align: top;*/
	float:right;
}

#nom {
	width:110px;
}

.infoPersonne {
	width: 200px;
}

td input {
	width:85px;
}

body {
	background-color: #A7DDF4;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	margin: 0px;
}

.banner {	
	padding: 10px;	
	background-color: white;
}

.content {
	height:100%;
	padding: 10px;
	padding-bottom: 40%;
	background-color: white;
}

.selectionJours {
	width:40%;
	margin:0 auto;
}

.delIcon {
	height: 15px;    
    width: 15px;
	float: left;
    margin: 3px 8px 0 0;
    background: url("../images/recycle_bin.png");
    cursor: pointer;
}

.styleDates ul{
	list-style-type:none; 
}

.styleDates ul li ul li{
	margin-left:10px;
}

.firstClass {	
	padding: 10px;
	margin: 5px;
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    width: 70%;
}

.styleDates.resume {
	width:49%;
	display:inline-block;
}

.mailList.resume {
	width:49%;
	vertical-align: top;
	display: inline-block;
}
	
.hidden {
    display: none;
}

.populaire {
	background-color: orange;
}

table.datesTable td {
	color: black;
	text-align: center;	
	background-color: steelblue;
	}

h3 span {
	font-size: 14px;
}

h2 {
	margin: 8px 0px;
}

	
.selectDate {
	padding: 10px;
	margin: 5px;
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    width: 45%;
}

#mailsArea, #mailPersoArea {
	width: 65%;
}
	
.checkbox {
	display: inline;
	width: auto;
	background-color: transparent;
}	


form {
	display:inline;
}



#calendar {
	width: 900px;
	margin: 0 auto;
	}