.date_template {
    display: none;
}

a:hover {
	cursor: pointer;
}



.delIcon {
	height: 15px;    
    width: 15px;
	float: left;
    margin: 3px 8px 0 0;
    background: url("../images/recycle_bin.png");
    cursor: pointer;
}

.styleDates {
	width: 15%;
	text-align: center;
	
	}
	
.hidden {
    display: none;
}

.populaire {
	background-color: orange;
}

table.datesTable td {
	color: black;
	text-align: center;	
	background-color: steelblue;
	}


	
.selectDate {
	padding: 6px;
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    width: 25%;
	}
	
.checkbox {
	display: inline;
	width: auto;
	background-color: transparent;
}	

/*tr.noneditable input.checkbox {
	display: none; 
}*/

form {
	display:inline;
}


	
