@(id: Long, eventForm: Form[Evenement], event: Evenement)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main("Creer un evenement") {
    
    <h2>Selectionner les dates/horaires:</h2>
    
           

      <div class="control-group"><label class="control-label">TITRE:&nbsp;</label> @event.getTitre </div>  <br>  
      
        <label class="control-label">Date</label> <div class="controls" id="date"></div> 
		
   		<ul class="controls" id="altField"> </ul> 
    	
    	@input(eventForm("dates"), '_label -> "") { (id, name, value, args) =>
		    <input type="hidden" name="@name" id="myDates" @toHtmlArgs(args)>
		}
		
		@input(eventForm("heures"), '_label -> "") { (id, name, value, args) =>
		    <input type="hidden" name="@name" id="myHours" @toHtmlArgs(args)>
		}
				
        
        <a href="@routes.Application.heureSelection(event.getId)" class="btn btn-primary">Continuer</a>
        
    
    
	<script type="text/javascript" charset="utf-8">

		var optionsHeures = "";
		var optionsMinutes = "";
		var heuresList = new Array(); 
	

	$(function(){  
		
		$( "#date" ).multiDatesPicker();
		
		$("#date").multiDatesPicker({
	   		onSelect: function(dateText) {
	   		    var selectionType = $.inArray(dateText, $( "#date" ).multiDatesPicker('getDates'));
	   		    if (selectionType == -1) {
	   		      var str = dateText.replace("/", "");
	   		      str = str.replace("/", "");
	   		      	   		      
	   		      $("#"+str).remove();
	   		    }
	   		
	   		  	$(".areload").html("");
	   			$(".areload").html(
	   			    "@for(jour <- event.jours) {"+
        	   "<li>@jour.date &nbsp;"+
           		"</li>}"
	   			    );
	   			$.ajax({
					type: "POST",
					url: "@routes.Application.addDate(id)",
					data: '{"date" : "' + dateText + '"}',
					contentType: "application/json",
					success : function(data) {
					  if (selectionType != -1) {					
						  ajouterDate(dateText);
					  }
					}               
				});		
	    	}
		}); 
	});
	
	function ajouterDate(dateText) {
	  var str = dateText.replace("/", "");
	  str = str.replace("/", "");
			$("#altField").append("<li id=\""+str+"\">"+ 
		"<a class=\"linkDate\" name=\""+dateText+"\">"+
		"<i class=\"icon-trash\"></i>&nbsp;"+
		"</a>"+dateText+		
		"</li>");
	}	

	$('.linkDate').live('click', function(e) {	  
	   $("#date").multiDatesPicker('removeDates', $(this).attr("name")); //enleve la date dans l'affichage du datepicker
	   $(this).parent().remove();
	   /*SUPPRESSION DE DATE*/
	   
	   $.ajax({
			type: "POST",
			url: "@routes.Application.removeDate(id)",
			data: '{"date" : "' + $(this).attr("name") + '"}',
			contentType: "application/json",
			success : function(data) {
			  
			}               
		});	
	   
	});


	</script>
    
    
}