@(id: Long, eventForm: Form[Evenement], event: Evenement)

@import helper._


@main("Selectionner les jours") {
    
    <h2>Selectionner les jours:</h2>
    
           

      TITRE:&nbsp; @event.titre <br>  
      
        Date:  <div class="controls" id="date"></div> 
		
   		<ul class="controls" id="altField"> </ul>     	
				
        
        <a href="@routes.Application.heureSelection(event.id)" class="btn btn-primary">Continuer</a>
        
    
    
	<script type="text/javascript" charset="utf-8">

		var optionsHeures = "";
		var optionsMinutes = "";
		var heuresList = new Array(); 
	

		$(function(){  

			$( "#date" ).multiDatesPicker();

			$("#date").multiDatesPicker({
				onSelect: function(date) {
					alert("select");
	   		}
	   	}); 
		});

	function ajouterDate(dateText) {
	  var str = dateText.replace("/", "");//efface le premier slash de la date
	  str = str.replace("/", "");//efface le premier slash de la date
	  $("#altField").append("<li id=\""+str+"\">"+ 
	  	"<a class=\"linkDate\" name=\""+dateText+"\">"+
	  	"<i class=\"mesicones icon-trash\"></i>&nbsp;"+
	  	"</a>"+dateText+		
	  	"</li>");
	}

	$('.linkDate').live('click', function(e) {	  
		   $("#date").multiDatesPicker('removeDates', $(this).attr("name")); //enleve la date dans l'affichage du datepicker
		   $(this).parent().remove();
		   /*SUPPRESSION DE DATE*/
		   
		   $.ajax({
		   	type: "POST",
		   	url: "@routes.Application.removeDate(id)",
		   	data: '{"date" : "' + $(this).attr("name") + '"}',
		   	contentType: "application/json",
		   	success : function(data) {

		   	}               
		   });	

		});


	</script>
    
    
}