@(event: Evenement, adm: Integer)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main("Editer un evenement") {

	<div class="container">
		<div class="content">	

			<h1>Participants pour: @event.titre</h1>

			
			Titre de l'&eacute;venement : <b>@event.titre</b> <br/>
			Cr&eacute;ateur : <b>@event.createur</b> @if(event.email != "" && event.email != null) {   <br>Contact : @event.email }<br/>
			Cree le: @event.dateCreation.toLocaleString<br>

			@if(event.descriptif != "") {
			Description : <i>@event.descriptif</i> <br/>	
			}			
			<br>
			
			@if(adm == 1) {
				<a class="btn btn-danger" href="@routes.Application.deleteEvent(event.id)">Supprimer l'evenement</a>
				
			}

			
			<br><br>
			
				<h3>Liste des participants et de leurs disponibilités</h3>

			@if(adm != 1){
				<p>
					S'ajouter à la liste des participants :		  
					<input id="champ" type="text" maxlength="25" value="">&nbsp;<a id="ajouter" class="btn">Ajouter</a><br>
				</p>
			}	
			

			@if(adm == 1){			
			
			<div class="champAdd" >	
				<p>	
					Ajouter un participant :		  
					<input id="champ" type="text" size="25" value="">&nbsp;<a id="ajouter" class="btn">Ajouter</a><br><br>

					Ajouter une date:
					<input id="datepicker" type="text">&nbsp;<a id="ajouterDate" class="btn">Ajouter</a>
					<input id="hidden" type="hidden">
				</p>
			</div>
			}


			<div id="divtest" >
			<table class="datesTable" cellspacing="5" cellpadding="5">
				<tbody>
					<tr class="titres dates" style="display:none"><td style="visibility:hidden"></td>
						@for(jour <- event.jours) {  					  
							<td id="@jour.id" class="jour" colspan="@jour.horaires.size()">
								<b class="jourintitule">@jour.getFRFormat </b>
								@if(adm == 1){<a id="@jour.id" class="horaireAdd" title="Ajouter une plage horaire à cette date" ><i class="mesicones icon-plus"></i></a>}
								@if(adm == 1){<a id="@jour.id" class="jourDel" title="Supprimer cette date"><i class="mesicones icon-trash"></i></a>}
							</td>	                        	                
						}
					</tr>
					<tr class="titres horaires" style="display:none"><td style="visibility:hidden"></td>
						@for(jour <- event.jours) {  
							@if(jour.horaires.size() == 0){
							    <td class="jour"></td>
							}
						    @for(horaire <- jour.horaires) {
						    	<td id="@horaire.id" style="font-size: 0.85em" dayid="@jour.id" class="horaire">
						    		@horaire.debut - @horaire.fin 
						    		@if(adm == 1){<a id="@horaire.id" idjour="@jour.id" class="horaireDel" title="Supprimer cette plage horaire" ><i class="mesicones icon-trash"></i></a>}
						    	</td>
						    }  

						}
					</tr>
					              
					
					@for(participant <- event.participants) {
						<tr title="@participant.nom" id="@participant.id" class="participant"><td class="infoPersonne">
							@form(routes.Application.updatePersonne(event.id), 'id->"formPersonne") {
								@if(participant.locked){
									<i class="mesicones icon-lock"></i>
								} else {
									&nbsp;&nbsp;&nbsp;&nbsp;
								}
								

								<input id="nom" maxlength="25" type="text" value="@participant.nom" name="nom" readonly="readonly">							
								<a id="@participant.id" title="Editer le participant" class="editPersonne"><i class="mesicones icon-pencil"></i></a>
								<a id="@participant.id" title="Supprimer le participant" class="deletePersonne"> <i class="mesicones icon-trash"></i></a>
								
								@if(participant.obligatoire){
									<a id="@participant.id" title="Participation à l'évènement obligatoire" class="obligatoirecb obligatoire"><i class="mesicones icon-star"></i></a>
								} else {
									<a id="@participant.id" title="Participation à l'évènement facultative" class="obligatoirecb"><i class="mesicones icon-star-empty"></i></a>
								}
							}</td>
							
							@for(jour <- event.jours) {
							    @if(jour.horaires.size() == 0){
							      @if(participant.inscriptionsJours.contains(jour)) {
					                <td class="checktd"><input id="@jour.id" type="checkbox"  disabled checked class="jour checkbox" value="@jour.getFRFormat" /></td>
					              } else {
					                 <td class="checktd"><input id="@jour.id" type="checkbox"  disabled class="jour checkbox" value="@jour.getFRFormat" /></td>
					              }
							       
							    }
					            @for(horaire <- jour.horaires) {
					              @if(participant.inscriptionsHoraires.contains(horaire)) {
					                <td class="checktd"><input id="@horaire.id" type="checkbox" disabled class="horaire checkbox"  checked value="@horaire.debut - @horaire.fin" /></td>
					              } else {
					                 <td class="checktd"><input id="@horaire.id" type="checkbox" disabled class="horaire checkbox" value="@horaire.debut - @horaire.fin" /></td>
					              }
					            }            	                
					        }				
						</tr>
					}
				</tbody>
				<tfoot>
				<tr id="compte" class="titres"
				 @if(event.participants.size() == 0){ style="display:none"}>
					<td id=""><b>Compte: </b></td>
					@for(jour <- event.jours) {
					    @if(jour.horaires.size() == 0){		     
			                <td id="@jour.id" class="jour">0</td>	       
					    }
			            @for(horaire <- jour.horaires) {              
			                <td id="@horaire.id" class="horaire">0</td>              
			            }
					}
				</tr>
				
					
				</tfoot>
				
			</table>
			</div>

			
			
			<div class="legende" style="display:none">
				<i class="mesicones icon-pencil"></i> : Déverrouiller l'édition (modifier le nom et les disponibilités).<br>
				<i class="mesicones icon-ok"></i> : Verrouiller l'édition.<br>
				<i class="mesicones icon-trash"></i> : Supprimer le participant.<br>
				<i class="mesicones icon-star"></i> : Présence obligatoire. Cliquez pour rendre facultatif.<br>
				<i class="mesicones icon-star-empty"></i> : Présence facultative. Cliquez pour rendre obligatoire.<br>
			</div>

			


			

			<br><br>
			<h3>Inviter des personnes à l'évenement</h3>
			
			<div class="selectDate" style="position:relative; display:inline-block; width:500px">
				<textarea id="mailsArea" title="Adresses email s&eacute;par&eacute;es par une virgule" rows="4" style="color:grey" placeholder="Entrez ici les adresses mail séparées par une virgule ..."></textarea>
				<i class="checkmail mesicones icon-remove"></i>
				<a id="envoiLien" disabled="true" class="btn">Envoyer Lien</a> <a class="btnMailPerso" title="Ajouter un texte personnalisé au mail"><i class="mesicones icon-plus"></i></a>
				<div class="champPerso" style="display:none">
					<textarea id="mailPersoArea" rows="6" style="color:grey" placeholder="Entrez un message avec votre mail d'invitation"></textarea>
				</div>
			</div>
			<div style="display:inline-block; width:380px">
				Entrez ici la liste des adresses mail des personnes que vous désirez inviter à cet évènement.
			</div>

						
			<br><br>
			<div  id="mailList" class="selectDate" style="@if(adm != 1) {display:none;} position:right;  width:500px">
				<h5 @if(adm != 1) {style="display:none"}>Liste des mails invités</h5>
				<br>
				<p @if(adm != 1) {style="display:none"} id="mailAdressContent">				
					@for(l <- event.mailSentList){
						<a href="mailto:@l.adresse?subject=KIND:Invitation&body=http://intranet2:9000/KIND/eventEdit/@(new sun.misc.BASE64Encoder().encode((event.id.toString).getBytes))/consult">@l.adresse </a> <br>
					} 
				</p>
			</div>
			
			

			
			<div id="dialog-add-horaire" title="Sélectionnez l'horaire">	
				<div id="slider">
					<input type="text" id="data" value="8h - 17h" style="border:0; color:#f6931f; font-weight:bold;" />		

					<div class="slider-range"></div>
				</div>
			</div>


			<div id="dialog-new-pwd" title="Créez le mot de passe">		

				<form>
				<fieldset>			
					<label for="password">Mot de passe créé :</label>
					<input type="password" name="password" id="password-new" value="" class="text ui-widget-content ui-corner-all" />
				</fieldset>
				</form>
			</div>

			<div id="dialog-question-securise" title="Créez le mot de passe">		

				<form>
				<fieldset>			
					<label>Sécuriser les informations de ce participant avec un mot de passe ?</label>
					
				</fieldset>
				</form>
			</div>

			<div id="dialog-check-pwd" title="Entrez le mot de passe pour ce participant">		

						
					<label for="password">Mot de passe du participant :</label>
					<input type="password" name="password" id="password-check" value="" class="text ui-widget-content ui-corner-all" />
				
			</div>

			<div id="dialog-check-pwd-delete" title="Entrez le mot de passe pour ce participant">		

						
					<label for="password">Mot de passe du participant :</label>
					<input type="password" name="password" id="password-check-delete" value="" class="text ui-widget-content ui-corner-all" />
				
			</div>
		</div>
	</div>

	

	

	

	<script type="text/javascript" charset="utf-8">
	
		var color1 = "#FFFF99";
		var color2 = "gold";
		var color3 = "steelblue";
		var mdp = "";	

		$("#champ").popover({title: 'Twitter Bootstrap Popover', content: "It's so simple to create a tooltop for my website!"});

		function refreshtable(){
			$('#divtest').load('/KIND/eventEdit/@(new sun.misc.BASE64Encoder().encode((event.id.toString).getBytes))/consult/@(new sun.misc.BASE64Encoder().encode((event.email).getBytes))/adm #divtest', function(responseText, textStatus, XMLHttpRequest) {styles();$("body").append(responseText);});
		}

		$(function(){
			$("table.datesTable td").css("background-color", color3);
			$(".checkbox").attr("disabled", "true"); 

			$('.checkbox').each(function (i) { // coloration des box checkées
			  	if ($(this).is(':checked')){
			  		$(this).parent().css("background-color", "#66CC99");
			  	}
			});

			$('.infoPersonne').each(function (i) {
				$('.titres').attr('style','');
				$('.legende').attr('style','');
			});

			refreshCount(); // maj de la ligne de compteurs
			refreshObligatoire(); // maj  des classes "obligatoire" sur les checkboxes
			affichagePopulaire(); // maj des surbrillances
		})


		
		/*Code concernant l'interface administrateur visible sur adminTools.js*/

		adminTools("@adm");




		/*Code concernant les mails et l'envoi
		* A trouver dans le fichier sendMail.js*/

		Mails("@routes.Application.sendMail(event.id)");




		/*Code sur l'ajout
		* complet sur ajoutPersonne.js*/

		AjoutParticipant("@routes.Application.addParticipant(new sun.misc.BASE64Encoder().encode((event.id.toString).getBytes))", "@adm");




		/* Code sur le rajout d'horaires et de dates
		* a trouver sur ajoutDateHeure.js*/

		ajoutDateHoraire("@routes.Application.addDate(event.id)", "@routes.Application.newHoraire(event.id)", "@routes.Application.dateChanged(event.id)");


		/* Code concernant la suppression d'horaires et de jours*/
		 
		supprDateHoraire("@routes.Application.deleteHoraire(event.id)", "@routes.Application.removeDate(event.id)");
		

		/*Code sur l'édition des participants
		* A trouver dans le fichier edition.js*/

		editFunctions("@routes.Application.getPass()", "@routes.Application.updatePersonne(event.id)", "@routes.Application.checkBoxJour(event.id)", "@routes.Application.checkBoxHoraire(event.id)");



		/*Code sur la suppression de participants
		* A trouver dans le fichier suppression.js*/

		Delete("@routes.Application.getPass()", "@routes.Application.deleteParticipant(event.id)")



		/*Code sur les participants obligatoires*/
		partobligatoire("@routes.Application.changeObligatoire(event.id)");
	
	
	</script>

}
