@(event: Evenement)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main("Editer un evenement") {

	<h1>Participants pour: @event.titre</h1><br/>

	
	Titre de l'&eacute;venement : <b>@event.titre</b> <br/>
	Cr&eacute;ateur : <b>@event.createur</b> <br/>

	@if(event.descriptif != "") {
	Description : <i>@event.descriptif</i> <br/>	
	}			
	
	<a class="btn btn-danger" href="@routes.Application.deleteEvent(event.id)">Supprimer l'evenement</a>
	
	<table class="datesTable" cellspacing="5" cellpadding="5">
		<tbody>
			<tr class="titres" style="display:none"><td style="visibility:hidden"></td>
				@for(jour <- event.jours) {  					  
					<td id="@jour.id" class="jour" colspan="@jour.horaires.size()"><b>@jour.date</b></td>	                        	                
				}
			</tr>
			<tr class="titres" style="display:none"><td style="visibility:hidden"></td>
				@for(jour <- event.jours) {  
				  @if(jour.horaires.size() == 0){
				    <td class="jour"></td>
				  }
				     @for(horaire <- jour.horaires) {
				    	 <td id="@horaire.id" day="@jour.date" class="horaire">@horaire.debut - @horaire.fin</td>
				     }            	                
				}
			</tr>
			              
			
			@for(participant <- event.participants) {
				<tr id="@participant.getId()"><td class="infoPersonne">
					@form(routes.Application.updatePersonne(event.id), 'id->"formPersonne") {
						<input id="nom" type="text" value="@participant.getNom()" name="nom" readonly="readonly">	
					
						<a id="@participant.getId()" class="editPersonne btn btn-info">Editer</a>
						<a id="@participant.getId()" class="deletePersonne btn btn-danger"> Supprimer</a>
					}</td>
					
					@for(jour <- event.jours) {
					    @if(jour.horaires.size() == 0){
					      @if(participant.inscriptionsJours.contains(jour)) {
			                <td class="checktd"><input id="@jour.id" type="checkbox"  disabled checked class="jour checkbox" value="@jour.date" /></td>
			              } else {
			                 <td class="checktd"><input id="@jour.id" type="checkbox"  disabled class="jour checkbox" value="@jour.date" /></td>
			              }
					       
					    }
			            @for(horaire <- jour.horaires) {
			              @if(participant.inscriptionsHoraires.contains(horaire)) {
			                <td class="checktd"><input id="@horaire.id" type="checkbox" disabled class="horaire checkbox"  checked value="@horaire.debut - @horaire.fin" /></td>
			              } else {
			                 <td class="checktd"><input id="@horaire.id" type="checkbox" disabled class="horaire checkbox" value="@horaire.debut - @horaire.fin" /></td>
			              }
			            }            	                
			        }				
				</tr>
			}
		</tbody>
		<tfoot>
		<tr id="compte" class="titres"
		 @if(event.participants.size() == 0){ style="display:none"}>
			<td id=""><b>Compte: </b></td>
			@for(jour <- event.jours) {
			    @if(jour.horaires.size() == 0){		     
	                <td id="@jour.id" class="jour">0</td>	       
			    }
	            @for(horaire <- jour.horaires) {              
	                <td id="@horaire.id" class="horaire">0</td>              
	            }
			}
		</tr>
		
		
			<!--<tr>
				<td> Date(s) populaire(s) :</td>
				<td colspan="0" class="footer"></td>
			</tr>-->
		</tfoot>

		<!--<div class="populaires"></div>-->


		
	</table>
	
	<!--<a class="calButton btn btn-info" >Vue calendrier</a>
	<div id="calendar"></div>-->

	Ajouter un participant :		  
	<input id="champ" type="text" value="">&nbsp;<a id="ajouter" class="btn">Ajouter</a><br>

	<br>
	<h3>Inviter des personnes à l'évenement</h3>

	<div class="selectDate">
	<textarea id="mailsArea" rows="4" style="color:grey" placeholder="Entrez ici les adresses mail séparées par une virgule ..."></textarea>
	<a id="envoiLien" class="btn btn-primary">Envoyer Lien</a>
	</div>

	<script type="text/javascript" charset="utf-8">
	
	var color1 = "#FFFF99";
	var color2 = "gold";
	var color3 = "steelblue";

	$("table.datesTable td").css("background-color", color3);

	$(function(){ 

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: true,
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-5),
					end: new Date(y, m, d-2)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d+1, 19, 0),
					end: new Date(y, m, d+1, 22, 30),
					allDay: false
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/'
				}
			]
		});

		$('.checkbox').each(function (i) {
		  	if ($(this).is(':checked')){
		  		$(this).parent().css("background-color", "#66CC99");
		  	}
		});

		$('.infoPersonne').each(function (i) {
		  	$('.titres').attr('style','');
		});



		$('input[type="checkbox"]').each(function(i) {
			var iden = $(this).attr('id');

			if ($(this).attr('class') == 'horaire checkbox') {
				if ($(this).is(':checked')){
			    	var increment = $('#compte').children('.horaire[id="'+iden+'"]');
					increment.html(parseInt(increment.html())+1);
				}
			}
			if ($(this).attr('class') == 'jour checkbox') {
				if ($(this).is(':checked')){
			    	var increment = $('#compte').children('.jour[id="'+iden+'"]');
					increment.html(parseInt(increment.html())+1);
				}
			}
		});

		var max = 0;
		$("#compte").children().each( function() {
			$(this).css("background-color", color1) //gris
			$('.titres').children().css("background-color",color1);		
			if ($(this).html() > max) {			
				max = $(this).html();
			}
		})
		$("#compte").children().each( function() {		
			if ($(this).html() == max && $(this).html() != 0) {			
				$(this).css("background-color", color2);
				
				$('td[id="'+$(this).attr("id")+'"][class="'+$(this).attr("class")+'"]').css("background-color", color2);
				if($(this).attr("class") == "horaire") {
					var day = $('td[id="'+$(this).attr("id")+'"][class="'+$(this).attr("class")+'"]').attr("day");				
					$("td:contains('"+day+"')").css("background-color", color2);
					
				}
			}
		})
	  
	});

	$('.calButton').live('click', function(e) {
		if ($("#calendar").css("display") == "none") {
			$("#calendar").css("display", "block");
		} else {
			$("#calendar").css("display", "none");
		}
	});

	$("textarea").live('click', function(e) {
		$(this).html("");
		$(this).removeAttr("style");
	})


	$('#envoiLien').live('click', function(e) {
	  var mailsList = $("#mailsArea").val();
	  
		$.ajax({
			type: "POST",
			url: "@routes.Application.sendMail(event.id)",
			data: '{"mailslist" : "' + mailsList + '"}',
			contentType: "application/json",
			success : function(data) {
			  alert("Mail(s) envoye(s) a "+mailsList);
			}
	   });
	});
		  
		  
	$('.deletePersonne').live('click', function(e) {    
	    $(this).parent().parent().parent().remove();
	    
	    
	    deletePersonne($(this).attr('id'));
	    if($('td[class="infoPersonne"]').html() == null) {
	    	$('.titres').attr('style','display:none');
	    }
	    $('#compte').children('td[id!=""]').each(function(i) {$(this).html("0")});
	    $('input[type="checkbox"]').each(function(i) {
	    var iden = $(this).attr('id');
	  
	    if ($(this).attr('class') == 'horaire checkbox') {
	    	if ($(this).is(':checked')){
		    	var increment = $('#compte').children('.horaire[id="'+iden+'"]');
				increment.html(parseInt(increment.html())+1);
	    	}
	    }
	    if ($(this).attr('class') == 'jour checkbox') {
	    	if ($(this).is(':checked')){
		    	var increment = $('#compte').children('.jour[id="'+iden+'"]');
				increment.html(parseInt(increment.html())+1);
	    	}
	    }
	  });
	    
	})

	$('.editPersonne').live('click', function(e) {
	    if($(this).html() == "Editer")  {
	      $(this).html("OK");
	      $(this).attr("class", "editPersonne btn btn-success");
	      $(this).siblings("input").removeAttr("readonly");
	      $(this).parent().parent().parent().children("td").children().removeAttr("disabled");
	      $(this).parent().parent().parent().children("td").css("border", "solid black 2px");
	      $(".hoverable").off();
	      $(".hoverable").off();
	      $(this).parent().parent().parent().children(".checktd").attr("class", "checktd hoverable");
	      refreshHoverable();
	    } else {
	      $(this).html("Editer");
	      $(this).attr("class", "editPersonne btn btn-info");
	      $(this).siblings("input").attr("readonly", "readonly");
	      $(this).parent().parent().parent().children("td").children('input[type="checkbox"]').attr("disabled","true"); 
	      $(this).parent().parent().parent().children("td").css("border", "none");
	      $(".hoverable").off();	      
	      $(this).parent().parent().parent().children(".checktd").attr("class", "checktd");
	      refreshHoverable();
	      editPersonne($(this).attr('id'), $(this).siblings("input").attr("value"));
	    }
	  
	})
	
	function refreshHoverable() {
		
		$(".hoverable").on({

			mouseenter: function () {
				$(this).css("background-color", "lightgreen");
			}, 

			mouseleave: function () {
				if ($(this).children().is(':checked')){	 
			    	$(this).css("background-color", "#66CC99");
			    } else {
			    	$(this).css("background-color", color3);
			    }
			}
		});

	}


	$("#ajouter").live('click', function(e){	  
	    envoiPersonne($("#champ"));	    	    
	});

	$("#champ").keypress(function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { //Enter keycode
			envoiPersonne($("#champ"));	
			$("#champ").focus();
 		}

	});




	function envoiPersonne(self)
	{
	    var vide = "";	    
	    var nom = $.trim(self.attr("value"));
	    if (vide != nom) {      
			addPersonne($.trim($("#champ").attr('value')));			
		}
	}

	function editPersonne(personneId, personneNom)
	{
	  $.ajax({
			type: "POST",
			url: "@routes.Application.updatePersonne(event.id)",
			data: '{"id" : "' + personneId + '", "nom" : "' + personneNom + '"}',
			contentType: "application/json",
			success : function(data) {
			  //alert("Participant edit\351");
			}
	  });
	}

	function deletePersonne(persId)
	{
	  $.ajax({
			type: "POST",
			url: "@routes.Application.deleteParticipant(event.id)",
			data: '{"id" : "' + persId + '"}',
			contentType: "application/json",
			success : function(data) {
			  //alert("Participant supprim\351");
			}
	  });
	}

	function addPersonne(nomParticipant)
	{	
		$.ajax({
			type: "POST",
			url: "@routes.Application.addParticipant(event.id)",
			data: '{"nom" : "' + nomParticipant + '"}',
			contentType: "application/json",
			success : function(data) {		  
				$("tbody").append("<tr id=\""+data.idPersonne+"\"><td class=\"infoPersonne\">"+
					"<form id=\"formPersonne\">"+
					"<input id=\"nom\" type=\"text\" value=\""+nomParticipant+"\" name=\"nom\">&nbsp;"+
					"<a id=\""+data.idPersonne+"\" class=\"editPersonne btn btn-success\">OK</a>&nbsp;"+
					"<a id=\""+data.idPersonne+"\" class=\"deletePersonne btn btn-danger\">Supprimer</a>"+				  
					"</form></td>"+
					"@for(jour <- event.jours) {"+  
					"@if(jour.horaires.size() == 0){<td class=\"checktd hoverable\" style=\"border: solid black 2px\"><input id=\"@jour.id\" type=\"checkbox\" class=\"jour checkbox\" value=\"@jour.date\" /></td>}"+
					"@for(horaire <- jour.horaires) {"+	                		
					"<td class=\"checktd hoverable\" style=\"border: solid black 2px\"><input id=\"@horaire.id\" type=\"checkbox\" class=\"horaire checkbox\" value=\"@horaire.debut - @horaire.fin\" /></td>"+			                
					"}"+                	                
					"}" +
					"</tr>")
				$('#champ').attr('value', '')
				$('.titres').attr('style','');
				refreshHoverable();				
			}               
		});
	}


	$('.checktd').live('click', function(e) {
		if ($(this).children().prop("disabled") == false) {
			if ($(this).children().prop("checked") == false) {
				if (e.target.nodeName == "TD"){
					$(this).children().prop("checked", true);
				}
				changeCheck($(this).children());
			} else {
				if (e.target.nodeName == "TD"){
					$(this).children().prop("checked", false);
				}        
				changeCheck($(this).children());
			}
			var max = 0;
			$("#compte").children().each( function() {
				$(this).css("background-color", color1) //gris
				$('.titres').children().css("background-color",color1);
				$('.footer').html("");
				if ($(this).html() > max) {			
					max = $(this).html();
				}
			})
			$("#compte").children().each( function() {		
				if ($(this).html() == max && $(this).html() != 0) {			
					$(this).css("background-color", color2);
					//alert("classe : "+$(this).attr("class")+" id : "+$(this).attr("id"));
					$('td[id="'+$(this).attr("id")+'"][class="'+$(this).attr("class")+'"]').css("background-color", color2);
					if($(this).attr("class") == "horaire") {
						var day = $('td[id="'+$(this).attr("id")+'"][class="'+$(this).attr("class")+'"]').attr("day");				
						$("td:contains('"+day+"')").css("background-color", color2);
						//$('.footer').append(day);
					}
				}
			})
			$('.populaires').html("");
			$('.titres td').each( function() {

				if ($(this).css('background-color') == color2) {
					$('.populaires').append($(this).html());
				}				
			})			
		}
	});


	

 


	function changeCheck(box) {   
	   var idtime = box.attr('id');
	   var idParticipant = box.parent().parent().attr('id');   
	   
	   if (box.is(':checked')){	   		
	       		box.parent().css("background-color", "#66CC99")//vert
		   		if (box.attr('class') == 'horaire checkbox') {
		           var increment = $('#compte').children('.horaire[id="'+idtime+'"]');
			   	   increment.html(parseInt(increment.html())+1);
		       	   requeteAjaxHeure(idtime, idParticipant);
			    }
	       		if (box.attr('class') == 'jour checkbox') {	
	    	   	   var increment = $('#compte').children('.jour[id="'+idtime+'"]');
			   	   increment.html(parseInt(increment.html())+1);
				   requeteAjaxJour(idtime, idParticipant);
			   }
	   } else {
	     
	     box.parent().css("background-color", color1)//gris
	     if (box.attr('class') == 'horaire checkbox') {
		     var increment = $('#compte').children('.horaire[id="'+idtime+'"]');
		     increment.html(parseInt(increment.html())-1);
		     requeteAjaxHeure(idtime, idParticipant);
	     }
	     if (box.attr('class') == 'jour checkbox') {
	        var increment = $('#compte').children('.jour[id="'+idtime+'"]');
		    increment.html(parseInt(increment.html())-1);
		    requeteAjaxJour(idtime, idParticipant);
	     }
	   }
	}

	function requeteAjaxJour(idtime, idParticipant)
	{
	  $.ajax({
			type: "POST",
			url: "@routes.Application.checkBoxJour(event.id)",
			data: '{"idjour" : "' + idtime + '", "idpersonne" : "' + idParticipant + '"}',
			contentType: "application/json",
			success : function(data) {
			  //alert("Jour edit\351");
			}
	   });
	}

	function requeteAjaxHeure(idtime, idParticipant)
	{
	  $.ajax({
			type: "POST",
			url: "@routes.Application.checkBoxHoraire(event.id)",
			data: '{"idhoraire" : "' + idtime + '", "idpersonne" : "' + idParticipant + '"}',
			contentType: "application/json",
			success : function(data) {
			  //alert("Horaire edit\351");
			}
	   });
	}



	</script>

}
