@(events: List[Evenement], eventForm: Form[Evenement])

@import helper.twitterBootstrap._
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }



@main("Créer un événement") {
    
    <h2>Cr&eacute;er un &eacute;v&eacute;nement</h2>
    
    @form(action = routes.Application.newEvent(), args = 'class -> "form-horizontal") {
        
        @inputText(eventForm("titre"), '_label -> "Titre")         
        @inputText(eventForm("lieu"), '_label -> "Lieu") 
        @textarea(eventForm("descriptif"), '_label -> "Description", 'rows->6)
        @inputText(eventForm("createur"), '_label -> "Créateur")
        @inputText(eventForm("email"), '_label -> "Email")
        
        <input type="submit" value="Créer">
        
    }
    
    
    
}