@(events: List[Evenement], eventForm: Form[Evenement])

@import helper.twitterBootstrap._
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@dateField(field: Field, className: String = "date") = {
    @input(field, '_label -> "Dates selectionnees", '_class -> className) { (id, name, value, _) =>
        <input type="text" name="@name" value="@value"> 
        <a class="removeDate btn danger">Remove</a>
    }
}

@main("Creer un evenement") {
    
    <h2>Cr&eacute;er un evenement</h2>
    
    @form(action = routes.Application.newEvent(), args = 'class -> "form-horizontal") {
        
        @inputText(eventForm("titre"))         
        @inputText(eventForm("lieu")) 
        @textarea(eventForm("descriptif"), 'rows->6)
        @inputText(eventForm("createur"))
        @inputText(eventForm("mail"))
        
        <input type="submit" value="Create">
        
    }
    
    
    
}