@(events: List[Evenement])

@import helper._

@main("Creer un evenement") {
    
    <h1>@events.size() evenement(s)</h1>
    
  
    <ul>
        @for(e <- events) {
            <li>
                @e.titre &nbsp;&nbsp; <br/>par:       
                @e.createur &nbsp;&nbsp; <br/>
                <i>@e.descriptif</i>&nbsp;<br/><br/>
                <div class="styleDates" >
                Dates propos&eacute;es: <br/>
                
                <input type="hidden" id="hiddenDates@e.id" value="@e.dates">
                <input type="hidden" id="hiddenHeures@e.id" value="@e.heures">
                <input type="hidden" id="identifiants" value="@e.id">
                <img id="image" src="@routes.Assets.at("images/calendar.png")"/>
                
        		<ul>
                @for(jour <- e.jours) {
                 <li><b>@jour.date</b> &nbsp;
                	<ul>
                	@for(horaire <- jour.horaires) {
                	  <li><i class="icon-time"></i>  @horaire.debut - @horaire.fin</li>
                	}
                	</ul>
                	</li>
                 
                }
                </ul>
                </div>         
                
                Participants:<br/>
                @if(e.participants.size > 0) {
	                <ul>
	                @e.participants.map { personne =>
	                    <li><i class="icon-user"></i>&nbsp;@personne.nom</li>
	                }
	            	</ul>
            	} 
            	@if(e.participants == null) {
            		@e.createur
            		}
                
                 <!-- @** <input type="submit" action="@routes.Application.edit(e.id)" value="Editer evenement">   *@  -->
                 <a href="@routes.Application.edit(e.id)">Editer evenement</a>         	
                
                
                @form(routes.Application.deleteEvent(e.id)) {
                    <input type="submit" value="Supprimer evenement">
                }
            </li>
        }
    </ul>
    
    <script type="text/javascript" charset="utf-8">
    	
    
    </script>
}