@(id: Long, eventForm: Form[Evenement], event: Evenement)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 



@main("Selectionner les horaires") {
    
    <h2>Selectionner les horaires:</h2>
    
    @for(jour <- event.jours) {
		<div class="control-group selectDate" id="@jour.id">
		  	@form(routes.Application.updatePersonne(id), 'id->"formJour") {
				@jour.date			 
				<a class="linkPlus btn btn-success" ><i class="mesicones icon-plus"></i></a>		
			  
		  	}
		</div>
	}
    
    <a class="btn btn-primary" href="@routes.Application.edit(event.id)">Terminé</a>
	
    
	<script type="text/javascript" charset="utf-8">

	var optionsHeuresDebut = "";
    var optionsHeuresFin = "";
	var optionsMinutes = "";
	var heuresList = new Array();

		

    $('.linkPlus').live('click', function(e) {		
		var idJour = $(this).parent().parent().attr('id');
		var button= $(this);
		$.ajax({
			type: "POST",
			url: "@routes.Application.newHoraire(id)",
			data: '{"jour" : "' + idJour + '"}',
			contentType: "application/json",
			success : function(data) {
			    button.parent().append("<div id=\""+data.idHoraire+"\">"+
					"<input type=\"text\" id=\"amount"+data.idHoraire+"\" value=\"8h - 17h\" style=\"border:0; color:#f6931f; font-weight:bold;\" />"+
					"&nbsp;<a class=\"linkMinus btn btn-danger\" >"+
					"<i class=\"mesicones icon-minus\"></i></a>"+
					
					"<div class=\"slider-range\"></div></div>"
				);
			    $( ".slider-range" ).slider({
			    	range: true,
			    	min: 0,
			    	max: 1440,
			    	step: 15,
			    	values: [ 8*60, 17*60 ],
			    	slide: function( event, ui ) {
			    		$( "#amount"+data.idHoraire ).val(parseInt(ui.values[ 0 ]/60) + "h"+pad2(ui.values[ 0 ]%60)+" - " + parseInt(ui.values[ 1 ]/60) +"h"+pad2(ui.values[ 1 ]%60));
			    	},
			    	change: function(event, ui) {
			    		var debut;
			    		var fin;
						debut = parseInt(ui.values[ 0 ]/60) + "h"+pad2(ui.values[ 0 ]%60);
						fin = parseInt(ui.values[ 1 ]/60) + "h"+pad2(ui.values[ 1 ]%60);
						$.ajax({
							type: "POST",
							url: "@routes.Application.dateChanged(id)",
							data: '{"idhoraire" : "' + data.idHoraire + '",'+ 
							'"debut" : "' + debut + '",'+
							'"fin" : "' + fin + '"}',
							contentType: "application/json",
							success : function(data) {

							}               
						});

					}
			    });
			    $( "#amount"+data.idHoraire ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
			    	" - $" + $( "#slider-range" ).slider( "values", 1 ) );
			}               
		});
    });


    $('.linkMinus').live('click', function(e) {
         
         var idHeure = $(this).parent().attr('id');
         var idJour = $(this).parent().parent().parent().attr('id');
         var button= $(this);
        $.ajax({
			type: "POST",
			url: "@routes.Application.deleteHoraire(id)",
			data: '{"jour" : "' + idJour + '", "horaire" : "' + idHeure + '"}',
			contentType: "application/json",
			success : function(data) {
			    button.parent().remove();
			    alert("ok");
			}               
		});	
	});	


	$(function(){	   
	 
	});
	

	
	
	function pad2(number) {
   
    	return (number < 10 ? '0' : '') + number
   
	}

	</script>
    
    
}