

@import helper._

@main("Accueil") {

    <div class="container">
        <div class="content accueil">    
            <h2 style="text-align:center">Bienvenue sur le gestionnaire de réunions du CHU de Rouen</h2>
            <br />
            <!--<p>KIND : Kind Is Not Doodle</p>-->

            <img id="image" width="250" src="@routes.Assets.at("images/chu_logo.jpg")"/>
            
            <p>
            Cet outil a pour but de permettre à tout le personnel du CHU de Rouen d'avoir accès a un moyen simple de planification d'évènements.
            
            </p>
            
            
            <p>
            Ici, vous pourrez organiser des réunions/évènements, sélectionner plusieurs choix possibles de jours et d'horaires à votre convenance 
            et convier les personnes que vous désirez y inviter en spécifiant leur adresse email.<br>              
            </p>

            <a class="btn btn-large btn-primary" href="@routes.Application.eventCreateEmpty()"> Créer un événement </a>
        </div>
    </div>
  
    
}