

@import helper._

@main("Accueil") {
    
    <br /><br />
        <h4>Bienvenue sur le gestionnaire de Réunions du CHU de Rouen</h4>
        <br />
        <p>KIND : Kind Is Not Doodle</p>

        <img id="image" width="250" src="@routes.Assets.at("images/chu_logo.jpg")"/>
        
        <p>
        Cet outil a pour but de permettre à tous le personnel du CHU de Rouen d'avoir accès a un moyen simple de planification d'évenements.
        
        </p>
        
        
        <p>
        Ici, vous pourrez organiser des réunions/évenements, sélectionner plusieurs choix possibles de jours et d'horaires à votre convenance 
        et convier les personnes que vous désirez y inviter en spécifiant leur adresse email.<br>              
        </p>
  
    
}