@(title: String)(content: Html)

@import helper.twitterBootstrap._


<!DOCTYPE html>

<html>
  <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> 
        <link type="text/css" href="@routes.Assets.at("stylesheets/ui-lightness/jquery-ui-1.7.3.custom.css")" rel="stylesheet" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">	
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.css")" >
        <link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.print.css")" media='print' >
    		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.2.min.js")"></script>
    		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.8.21.custom.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.ui.datepicker-fr.js")"></script>
    		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.multidatespicker.js")"></script>
    		<script type="text/javascript" src="@routes.Assets.at("javascripts/eventForm.js")"></script>    
        <script type="text/javascript" src="@routes.Assets.at("javascripts/fullcalendar/fullcalendar.js")"></script>  
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.html5-placeholder-shim.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/webtoolkit.md5.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/base64encoding-decoding.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/styles.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/edition.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/suppression.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/sendMail.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/adminTools.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ajoutPersonne.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ajoutDateHoraire.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/supprDateHoraire.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/partobligatoire.js")"></script>

  </head>
  <body>

    <div class="container">
        <div class="banner">
            <a href="@routes.Application.index()">                
                <h1 style="text-align: center">KIND</h1>
                <div style="text-align: center"><b>K</b>ind <b>I</b>s <b>N</b>ot <b>D</b>oodle</div>
            </a>
        </div>
    </div>
    
    @content
      
   
 </body>
</html>


